body {
	margin: 0;
	padding: 0;
}
.chartable {
	border-collapse: collapse;
}
.chartable td, .chartable th {
	border: 1px solid;
	padding-left: 1em;
	padding-right: 1em;
}
p, table, h1, h2, h3, h4, h5, blockquote {
	margin: 0.3em;
	padding: 0.3em;
}
h1, h2, h3, h4, h5, blockquote.signquot, blockquote.signquot2, p.signquot, p.signquot2, p.signquot3 {
	text-align: center;
}
.signquot {
	margin-left: auto;
	margin-right: auto;
}
.image-alt {
	display: none;
}

@media screen {
	.slide {
		padding: 16px 4px;
		border-top: 2px groove;
	}
	.signquot3 {
		font-size: 72pt;
	}
	h1 {
		font-size: 36pt;
	}
	h2, .signquot2 {
		font-size: 32pt;
	}
	h3 {
		font-size: 28pt;
	}
	h4, .signquot {
		font-size: 24pt;
	}
	h1, h2, h3, h4, h5, blockquote.signquot, .signquot, .signquot2, .signquot3 {
		color: darkred;
	}
}

@media print {
	.slide {
		padding: 16px;
		border-top: 1px solid;
	}
	img {
		display: none;
	}
	.image-alt {
		display: block;
	}
}

@media projection {
	body {
		background: black;
		color: white;
		font-size: 40pt;
	}
	.slide {
		page-break-before: always;
		padding: 10pt;
		margin: 0;
	}
	.slide > h1, .slide > h2, .slide > h3, .slide > h4, .slide > pre {
		padding-top: 40pt;
	}
	p.signquot, p.signquot2, h1, h2, h3, h4, h5, h6, table, ul {
	}
	.signquot3 {
		font-size: 250pt;
	}
	h1 {
		font-size: 72pt;
	}
	h2, .signquot2 {
		font-size: 64pt;
	}
	h3 {
		font-size: 56pt;
	}
	h4 {
		font-size: 48pt;
	}
	.signquot {
		font-size: 28pt;
	}
	.chartable td, .chartable th {
		border-color: red;
	}
	.narration {
		display: none;
	}
}
