h1, h2, h3, h4, h5, blockquote.signquot, .signquot, .signquot2 {
	text-align: center;
	color: darkred;
}

h1 {
	font-size: 36pt;
}
h2, .signquot2 {
	font-size: 32pt;
}
h3 {
	font-size: 28pt;
}
h4, .signquot {
	font-size: 24pt;
}

table.signquot, pre.signquot {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.chartable {
	border-collapse: collapse;
}
.chartable td, .chartable th {
	border: 1px solid darkred;
	padding-left: 1em;
	padding-right: 1em;
}
